.places__paragraph{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    grid-area: paragraph;
    max-width: 484px;
    align-self: start;
    justify-self: start;
}