.places{
    /*display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, min-max(288px, 1fr));
    grid-template-rows: repeat(2, min-max(208px, 1fr));
    align-items: end;*/
    margin: 0;
    display: grid;
    gap: 80px;
    justify-items: center;
    
}

@media screen and (max-width: 320px) {
    .places {
        width: 320px;
        height: 5177px;
    }
}