.cover__layer{
    position: absolute;
    background: #2A2C2F;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 2;
    width: 1183px;
    height: 739px;
    overflow: hidden;
    transition: opacity 0.5s linear;
}

.cover__layer:hover{
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__layer {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__layer {
        min-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__layer {
        min-width: 320px;
    }
}