.cover__subtitle{
    margin-top: 32px;
    padding: 0;
    max-width: 360px;
    max-height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
    }
}