.cover{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1184px;
    height: 740px;
    align-self: center;
    align-content: center;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-width: 320px;
    }
}