.places__place{
    margin: 0;
    padding: 0;
    width: 984px;
    height: 660px;
    /*display: grid;
    grid-template-areas: 
    "title website"
    "image paragraph";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 48px;*/
    display: grid;
    /*gap: 80px;*/
    grid-template-rows: repeat(auto-fit, minmax(208px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-areas: 
    "title website"
    "image paragraph";
    gap: 40px 48px;
    align-items: start;
}

@media screen and (max-width: 768px) {
    .places__place {
        width: 720px;
        height: 581px;
        margin-left: 450px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        gap: 40px 28px;
    }
}

@media screen and (max-width: 320px) {
    .places__place {
        width: 320px;
        height: 965px;
        grid-template-columns: minmax(0%, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 32px;
        grid-template-areas: 
        "title"
        "website"
        "image" 
        "paragraph";
        margin-left: 433px;
    }
}