.cover__overlay{
    /*display: block;*/
    position: absolute;
    background: #2A2C2F;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    width: 1183px;
    height: 739px;
    overflow: hidden;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        width: 320px;
        height: 300px;
    }
}