.cover__background{
    display: block;
    position: absolute;
    margin: auto;
    width: 1184px;
    height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
    .cover__background {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        width: 320px;
        height: 300px;
    }
}