.places__website{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    grid-area: website;
    border: solid 1px yellow;
    width: fit-content;
    height: fit-content;
    align-self: end;
}